{
    "server":"{{ ip }}",
    "server_port":{{ s_port }},
    "local_address":"0.0.0.0",
    "local_port":1080,
    "password":"{{ passwd }}",
    "timeout":60,
    "mode":"tcp_and_udp",
    "fast_open":{{ fast_open }},
    "method":"{{ method }}"
}
