[Unit]
Description=Shadowsocks Daemon
After=syslog.target network.target
Wants=network.target

[Service]
User=nobody
{% if  ansible_os_family == "Debian" %}
Group=nogroup
{% else %}
Group=nobody
{% endif %}
Type=simple
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/ss-server -c /etc/shadowsocks/config.json
LimitNOFILE=1048576
Restart=on-failure

[Install]
WantedBy=multi-user.target
