[Unit]
Description=Shadowsocks Daemon
After=syslog.target network.target
Wants=network.target

[Service]
User=nobody
{% if  ansible_os_family == "Debian" %}
Group=nogroup
{% else %}
Group=nobody
{% endif %}
Type=simple
ExecStartPre=+/sbin/setcap CAP_NET_BIND_SERVICE=+eip /usr/local/bin/ss-server
ExecStart=/usr/local/bin/ss-server -c /etc/shadowsocks/config.json
ExecStopPost=+/sbin/setcap -r /usr/local/bin/ss-server
Restart=on-failure

[Install]
WantedBy=multi-user.target
